@import url("https://use.typekit.net/fmj3umn.css");
*{
    font-family: "piepie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* NAV PANEL CSS (NEEDS TO BE ON EVERY PAGE */
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 153, 0);
    margin-top: -8px
}
nav a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    padding-bottom: 4px;
    padding-top: 8px;
    width: 20%;
    font-size: large;
    background-color: rgb(255, 153, 0);
    border-radius: 0 0 10px 10px;
    transition: transform 0.15s ease, color 0.15s, background-color 0.15s;
}
nav a:hover{
    background-color: rgb(141, 81, 33) ;
    color:aliceblue;
    transform: translateY(5px);
}

/* css cont */
h1{
    font-size: 3em;
}
body{
    text-align: center;
    margin: 0;
}
#sortList{
    display: block;
    justify-content: center;
    align-content: center;
}

/* Info Window */
#infoWindow{
    width: 60em;
    height: 12em;
    display: none;
    margin: 0 auto 2% auto;
    float: none;
}

/* Weapon Name */
#weaponName{
    font-size: 40px;
    margin-bottom: 0px;
}

/* Weapon Image */
#weaponImg{
    display: none;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
#weaponImg img{
    width: 150px;
    height: 150px;
}
#weaponImg>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

/* Utility Group */
#utilityGroup{
    display: inline-flex;
    width: 140px;
    height: 50px;
    background-color: rgb(148, 203, 235);
    border-radius: 35px;
    margin: auto;
    padding: 10px;
}
#utilityGroup img{
    width: 50px;
    margin: 0 10px 10px;
}
#utilityGroup>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

/* Dupe Kit Title */
#dupeKitTitle{
    display: none;
}

/* Dupe Kit List */
#dupeKitList{
    display: none;
    background-color: rgb(253, 154, 192);
    border-radius: 15px;
    height: 50px;
}
#dupeKitList img{
    width: 50px;
    margin: 0 10px 10px;
}
#dupeKitList>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

/* WClass list */
#wclassList{
    display: inline-flex;
    width: 700px;
    justify-content: center;
    background-color: rgb(36, 175, 255);
    border-radius: 35px;
    margin: 10px 4px 10px;
}
#wclassList>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}
#wclassList img {
    width: 60px;
}

/* Sub list */
#subList{
    display: inline-flex;
    width: 860px;
    justify-content: center;
    background-color: rgb(36, 175, 255);
    border-radius: 35px;
    margin: 10px 4px 10px;
}
#subList>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}
#subList img {
    width: 50px;
    margin: 5px;
}

/* Special list */
#specialList{
    display: inline-flex;
    width: 1155px;
    justify-content: center;
    background-color: rgb(36, 175, 255);
    border-radius: 35px;
    margin: 10px 4px 10px;
}
#specialList>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}
#specialList img {
    width: 50px;
    margin: 5px;
}

/* Weapon list */
#weaponList{
    display: none;
    width: 750px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(255, 153, 0);
    border-radius: 30px;
    border: rgb(255, 153, 0), 10px solid;
}
#weaponList img{
    width: 100px;
    margin: 0 10px 10px;
}
#weaponList>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

/* Webkit Browsers */
#weaponList::-webkit-scrollbar {
    height: 8px; /* Adjust scrollbar height for horizontal scrolling */
}

#weaponList::-webkit-scrollbar-button {
    display: none; /* Hides the scrollbar arrows */
}

#weaponList::-webkit-scrollbar-track {
    background: transparent;
}

#weaponList::-webkit-scrollbar-thumb {
    background: rgb(141, 81, 33);
    border-radius: 8px;
}

#weaponList::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 59, 24);
}

#weaponList::-webkit-scrollbar-corner {
    background: transparent;
}