@import url("https://use.typekit.net/fmj3umn.css");
*{
    font-family: "piepie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navigation Panel */
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 153, 0);
    margin-top: -8px
}
nav a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    padding-bottom: 4px;
    padding-top: 8px;
    width: 20%;
    font-size: large;
    background-color: rgb(255, 153, 0);
    border-radius: 0 0 10px 10px;
    transition: transform 0.15s ease, color 0.15s, background-color 0.15s;
}
nav a:hover{
    background-color: rgb(141, 81, 33) ;
    color:aliceblue;
    transform: translateY(5px);
}

/* css cont */
h1{
    font-size: 3em;
    background-color: rgb(42, 27, 206);
    color:aliceblue;
    height: 70px;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
}
h2{
    font-size: 2.5em;
    color: aliceblue;
    height: 60px;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
}
body{
    text-align: center;
    margin: auto;
    background-image: url("img/Background_Wrap.png");
}
p{
    font-weight: 900;
    font-size: 2em;
    font-style: italic;
    font-family: 'Marker Felt';
    color:rgb(0, 0, 0);
    max-width:1500px;
    margin: auto;
    margin-bottom: 20px;
}

/* HEADER COLORS */
.selA{
    background-color: hsl(327, 77%, 51%);
}
.selB{
    background-color: hsl(268, 77%, 51%);
}
.selC{
    background-color: hsl(81, 100%, 44%);
}
.selD{
    background-color: hsl(323, 89%, 43%);
}
.headerLinks{
    text-decoration: none;
}
.selA,.selB, .selC, .selD{
    transition: background-color 0.15s;
}
/* HOVER TO CHANGE COLOR */
.selA:hover{
    background-color: hsl(327, 77%, 21%);
}
.selB:hover{
    background-color:hsl(268, 77%, 21%);
}
.selC:hover{
    background-color: hsl(81, 100%, 14%);
}
.selD:hover{
    background-color: hsl(323, 89%, 13%);
}