@import url("https://use.typekit.net/fmj3umn.css");
*{
    font-family: "piepie", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 3em;
}
body{
    text-align: center;
    margin: 0;
}
.buffer{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Info Window */
#infoWindow{
    width: 70em;
    height: 10em;
    display: block;
    margin: 0 auto 2% auto;
}

/* Hint Text */
#textHint{
    font-size: 30px;
    /*margin-bottom: 0px;*/
}

/* Utility Group */
#kitHintGroup{
    display: inline-flex;
    width: 140px;
    height: 50px;
    background-color: rgb(148, 203, 235);
    border-radius: 35px;
    margin: auto;
    padding: 10px;
}
#kitHintGroup img{
    width: 50px;
    margin: 0 10px 10px;
}
#kitHintGroup>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

/* WClass List */
#wclassList{
    display: none;
    width: 1125px;
    justify-content: center;
    background-color: rgb(36, 175, 255);
    border-radius: 35px;
}
#wclassList>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}
#wclassList img {
    width: 100px;
}

/* Weapon List */
#weaponList{
    display: inline-flex;
    width: 750px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(255, 153, 0);
    border-radius: 30px;
    border: rgb(255, 153, 0), 10px solid;
}
#weaponList img{
    width: 100px;
    margin: 0 10px 10px;
}
#weaponList>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

/* Response Window */
#responseWindow{
    width: 60em;
    height: 0em;
    display: block;
    margin: 0 auto 2% auto;
}

/* Response Text */
#textResponse{
    font-size: 30px;
    margin-bottom: 0px;
}

/* Response Weapon Group*/
#weaponResponse{
    display: inline-flex;
    width: 1000px;
    height: 0px;
    border-radius: 35px;
    margin: auto;
    padding: 10px;
}
#weaponResponse img{
    width: 120px;
    margin: 0 10px 10px;
}
#weaponResponse>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

/* Webkit Browsers */
#weaponList::-webkit-scrollbar {
    height: 8px; /* Adjust scrollbar height for horizontal scrolling */
}

#weaponList::-webkit-scrollbar-button {
    display: none; /* Hides the scrollbar arrows */
}

#weaponList::-webkit-scrollbar-track {
    background: transparent;
}

#weaponList::-webkit-scrollbar-thumb {
    background: rgb(141, 81, 33);
    border-radius: 8px;
}

#WeaponList::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 59, 24);
}

#weaponsList::-webkit-scrollbar-corner {
    background: transparent;
}