@import url("https://use.typekit.net/fmj3umn.css");
*{
    font-family: "piepie", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 3em;
}
body{
    text-align: center;
    margin: 0;
}
.buffer{
    display: flex;
    justify-content: center;
    align-content: center;
}

#weaponTypeScroll{
    display: inline-flex;
    width: 1125px;
    justify-content: center;
    background-color: rgb(36, 175, 255);
    border-radius: 35px;
}
#weaponTypeScroll>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}
#weaponTypeScroll img {
    width: 100px;
}

#specWeaponMenu{
    display: inline-flex;
    width: 750px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: rgb(255, 153, 0);
    border-radius: 30px;
    border: rgb(255, 153, 0), 10px solid;
}
#specWeaponMenu img{
    width: 100px;
    margin: 0 10px 10px;
}
#specWeaponMenu>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

#infoWindow{
    width: 60em;
    height: 30em;
    background-color: blanchedalmond;
    display: flex;
    margin: 0 auto 2% auto;
}

/* Webkit Browsers */
#specWeaponMenu::-webkit-scrollbar {
    height: 8px; /* Adjust scrollbar height for horizontal scrolling */
}

#specWeaponMenu::-webkit-scrollbar-button {
    display: none; /* Hides the scrollbar arrows */
}

#specWeaponMenu::-webkit-scrollbar-track {
    background: transparent;
}

#specWeaponMenu::-webkit-scrollbar-thumb {
    background: rgb(141, 81, 33);
    border-radius: 8px;
}

#specWeaponMenu::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 59, 24);
}

#specWeaponMenu::-webkit-scrollbar-corner {
    background: transparent;
}