@import url("https://use.typekit.net/fmj3umn.css");
*{
    font-family: "piepie", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Navigation Panel */
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 153, 0);
    margin-top: -8px
}
nav a{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-weight: 100;
    padding-bottom: 4px;
    padding-top: 8px;
    width: 20%;
    font-size: large;
    background-color: rgb(255, 153, 0);
    border-radius: 0 0 10px 10px;
    transition: transform 0.15s ease, color 0.15s, background-color 0.15s;
}
nav a:hover{
    background-color: rgb(141, 81, 33) ;
    color:aliceblue;
    transform: translateY(5px);
}

/* css cont */
h1{
    font-size: 3em;
}
body{
    text-align: center;
    margin: 0;
    background-image: url("img/Background_Wrap.png");
}
.buffer{
    display: flex;
    justify-content: center;
    align-content: center;
}

/* Info Window */
#infoWindow{
    width: 60em;
    height: 25.5em;
    display: block;
    margin: 0 auto 2% auto;
}

/* Hint Text */
#textHint{
    font-size: 30px;
    margin-bottom: 0px;
}

/* Selected Group */
#selectedGroup{
    display: inline-flex;
    width: 140px;
    height: 50px;
    background-color: rgb(148, 203, 235);
    border-radius: 35px;
    margin: auto;
    padding: 10px;
}
#selectedGroup img{
    width: 50px;
    margin: 0 10px 10px;
}
#selectedGroup>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}

/* Sub Menu */
#subMenu{
    display: inline-flex;
    width: 1000px;
    justify-content: center;
    background-color: rgb(36, 175, 255);
    border-radius: 35px;
}
#subMenu>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}
#subMenu img {
    width: 70px;
}

/* Webkit Browsers */
#subMenu::-webkit-scrollbar {
    height: 8px; /* Adjust scrollbar height for horizontal scrolling */
}

#subMenu::-webkit-scrollbar-button {
    display: none; /* Hides the scrollbar arrows */
}

#subMenu::-webkit-scrollbar-track {
    background: transparent;
}

#subMenu::-webkit-scrollbar-thumb {
    background: rgb(141, 81, 33);
    border-radius: 8px;
}

#subMenu::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 59, 24);
}

#subMenu::-webkit-scrollbar-corner {
    background: transparent;
}

/* Special Menu */
#specialMenu{
    display: inline-flex;
    width: 1350px;
    justify-content: center;
    background-color: rgb(36, 175, 255);
    border-radius: 35px;
}
#specialMenu>div:hover{
    transition: transform 0.2s ease;
    transform: scale(1.2);
}
#specialMenu img {
    width: 70px;
}

/* Buttons */
#buttonGroup{
}
button{
    background-color: rgb(166, 164, 253);
    border-radius: 10px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 100;
    font-style: italic;
}
button:hover{
    transition: transform 0.1s ease;
    transform: scale(1.1);
}

/* Checkbox */
input:hover{
    transition: transform 0.1s ease;
    transform: scale(1.1);
}

/* Webkit Browsers */
#specialMenu::-webkit-scrollbar {
    height: 8px; /* Adjust scrollbar height for horizontal scrolling */
}

#specialMenu::-webkit-scrollbar-button {
    display: none; /* Hides the scrollbar arrows */
}

#specialMenu::-webkit-scrollbar-track {
    background: transparent;
}

#specialMenu::-webkit-scrollbar-thumb {
    background: rgb(141, 81, 33);
    border-radius: 8px;
}

#specialMenu::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 59, 24);
}

#specialMenu::-webkit-scrollbar-corner {
    background: transparent;
}